        <div class="wrap-header">
            <div class="pdleft12"><i class="iconclary">&#xe611;</i>当前页面基本说明~呵呵呵呵</div>
        </div>
        <div class="wrap-info-list">
            <h4 class="title">系统基本信息</h4>
            <ul class="content">
                <li><label>操作系统</label><span>Null</span></li>
                <li><label>运行环境</label><span>Express/4.13.1</span></li>
                <li><label>依赖环境</label><span>node-0.10.21</span> <span>npm-1.3.11</span> <span>lighttpd-1.5</span></li>
                <li><label>clary改版</label><span>v-0.1</span></li>
                <li><label>上传附件限制</label><span>2M</span></li>
                <li><label>服务器域名/IP</label><span>www.unclay.com</span></li>
                <li><label>Host</label><span></span></li>
            </ul>
        </div>
        <div class="wrap-info-list">
            <h4 class="title">其他相关</h4>
            <ul class="content">
                <li><label>网站测试：</label><span>www.unclay.com</span></li>
                <li><label>网站测试：</label><span>www.unclay.com</span></li>
            </ul>
        </div>