<div class="wrap-header">
    <div class="pdleft12">
        <i class="iconclary">&#xe611;</i><a href="/admin/index.wcl">首页</a>
        <span class="nav-step">&gt;</span>
        <a href="/admin/note.wcl">文章管理</a>
        <span class="nav-step">&gt;</span>
        <span>修改文章</span>
    </div>
</div>
<div class="wrap-main">
    <div class="insert-from">
        <form id="JS_form">
            <script type="unclay/template" id="JS_form_tpl">
                {{#with this}}
                <table class="insert-box" width="100%">
                    <tbody>
                        <tr>
                            <th width="120">访问地址 :</th>
                            <td>
                                <input type="text" name="seo_url" value="{{seo_url}}" id="JS_seoUrl" />
                                <button type="button" id="JS_openUrl">访问</button>
                            </td>
                        </tr>
                        <tr>
                            <th>标题 :</th>
                            <td>
                                <input type="text" name="title" value="{{title}}" id="JS_title" />
                            </td>
                        </tr>
                        <tr>
                            <th>简介 :</th>
                            <td>
                                <input type="text" name="intro" value="{{intro}}" id="JS_intro" />
                            </td>
                        </tr>
                        <tr>
                            <th>作者 :</th>
                            <td>
                                {{#each user}}
                                    {{showname}}
                                {{/each}}
                            </td>
                        </tr>
                        <tr>
                            <th>缩略图 :</th>
                            <td>
                                <input type="hidden" name="thumbnail" id="JS_thumbnail" value="{{thumbnail}}">
                                <input type="file" id="JS_file_thumbnail" name="file_thumbnail" value="{{thumbnail}}" />
                                <input type="button" value="上传" id="JS_btn_thumbnail" />
                                <input type="button" name="_select" id="JS_select_thumbnail" value="选择"><span id="JS_upload_error"></span><img src="{{getImg thumbnail}}" id="JS_img_thumbnail" onerror="this.style.display='none'" /></td>
                        </tr>
                        <tr>
                            <th>内容 :</th>
                            <td>
                                <textarea class="common-insert-textarea" name="content" id="JS_content" cols="80" rows="7">{{content}}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>标签 :</th>
                            <td id="JS_tag">
                                {{setTag tag arrTag}}
                            </td>
                        </tr>
                        <tr>
                            <th>Title :</th>
                            <td>
                                <input type="text" id="JS_seoTitle" name="seo_title" value="{{seo_title}}" />
                            </td>
                        </tr>
                        <tr>
                            <th>Keywords :</th>
                            <td>
                                <input type="text" id="JS_seoKeywords" name="seo_keywords" value="{{seo_keywords}}" />
                            </td>
                        </tr>
                        <tr>
                            <th>Description :</th>
                            <td>
                                <input type="text" id="JS_seoDescription" name="seo_description" value="{{seo_description}}" />
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input class="btn" type="submit" id="JS_submit" value="保存" />
                                <a href="/admin/note.wcl" class="btn">取消</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {{/with}}
            </script>
        </form>
    </div>
</div>
<script type="unclay/template" id="JS_thumbnailShade_tpl">
    <div class="thumbnail-shade" id="JS_thumbnailShade">
        <i class="thumbnail-shade-i"></i>
        <div class="thumbnail-shade-box">
            <div class="btn-sure">确定</div>
            {{#each this}}
            <img src="{{getTImg file_name}}" data-name="{{file_name}}" /> {{/each}}
        </div>
    </div>
</script>
<script type="text/javascript">
seajs.use("${SOURCE}/admin/js/admin.js", function(admin) {
    window.onload = function() {
        admin.noteUpdate();
    }
});
</script>
