        <div class="wrap-header">
            <div class="pdleft12">
                <i class="iconclary">&#xe611;</i><a href="/admin/index.wcl">首页</a>
                <span class="nav-step">&gt;</span>
                <a href="/admin/note.wcl">文章管理</a>
                <span class="nav-step">&gt;</span>
                <span>新增文章</span>
            </div>
        </div>
        <div class="wrap-main">
            <div class="insert-from">
                <form action="" method="post">
                    <table class="insert-box" width="100%">
                        <tbody>
                            <tr>
                                <th width="120">访问地址 :</th>
                                <td><input type="text" name="seo_url" id="JS_seoUrl" /></td>
                            </tr>
                            <tr>
                                <th>标题 :</th>
                                <td><input type="text" name="title" id="JS_title" /></td>
                            </tr>
                            <tr>
                                <th>简介 :</th>
                                <td><input type="text" name="intro" id="JS_intro" /></td>
                            </tr>
                            <tr>
                                <th>缩略图 :</th>
                                <td><input type="hidden" name="thumbnail" id="JS_thumbnail"><input type="file" id="JS_file_thumbnail" name="file_thumbnail" /><input type="button" value="上传" id="JS_btn_thumbnail" /><input type="button" name="_select" id="JS_select_thumbnail" value="选择"><span id="JS_upload_error"></span><img src="" id="JS_img_thumbnail" onerror="this.style.display='none'" /></td>
                            </tr>
                            <tr>
                                <th>内容 :</th>
                                <td><textarea class="common-insert-textarea" name="content" id="JS_content" cols="80" rows="7"></textarea></td>
                            </tr>
                            <tr>
                                <th>标签 :</th>
                                <td id="JS_tag">
                                    
                                </td>
                            </tr>
                            <tr>
                                <th>Title :</th>
                                <td><input type="text" name="seo_title" id="JS_seoTitle" /></td>
                            </tr>
                            <tr>
                                <th>Keyword :</th>
                                <td><input type="text" name="seo_keyword" id="JS_seoKeyword" /></td>
                            </tr>
                            <tr>
                                <th>Description :</th>
                                <td><input type="text" name="seo_description" id="JS_seoDescription" /></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn" type="submit" value="新增" id="JS_submit" />
                                    <a href="/admin/note.wcl" class="btn">取消</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="hidden" value="insert" name="params" id="JS_params"/>
                </form>
            </div>
        </div>
        <script type="unclay/template" id="JS_thumbnailShade_tpl">
                    <div class="thumbnail-shade" id="JS_thumbnailShade">
                        <i class="thumbnail-shade-i"></i>
                        <div class="thumbnail-shade-box">
                            <div class="btn-sure">确定</div>
                            {{#each this}}
                                <img src="{{getTImg file_name}}" data-name="{{file_name}}" />
                            {{/each}}
                        </div>
                    </div>
                </script>