        <div class="wrap-header">
            <div class="pdleft12">
                <i class="iconclary">&#xe611;</i><a href="{{root}}">首页</a>
                <span class="nav-step">&gt;</span>
                <a href="{{artical}}">文章管理</a>
                <span class="nav-step">&gt;</span>
                <span>修改文章</span>
            </div>
        </div>
        <div class="wrap-main">
            <div class="insert-from">
                <form id="JS_form">
                	<script type="unclay/template" id="JS_form_tpl">

                	
                    {{#with this}}
                    <table class="insert-box" width="100%">
                        <tbody>
                            <tr>
                                <th width="120">访问地址 :</th>
                                <td><input type="text" name="seo_url" value="{{seo_url}}" id="JS_seoUrl" /></td>
                            </tr>
                            <tr>
                                <th>标题 :</th>
                                <td><input type="text" name="title" value="{{title}}" id="JS_title" /></td>
                            </tr>
                            <tr>
                                <th>简介 :</th>
                                <td><input type="text" name="intro" value="{{intro}}" id="JS_intro" /></td>
                            </tr>
                            <tr>
                                <th>作者 :</th>
                                <td><input type="text" name="author" value="" disabled /></td>
                            </tr>
                            <tr>
                                <th>缩略图 :</th>
                                <td><input type="hidden" name="thumbnail" id="JS_thumbnail" value="{{thumbnail}}"><input type="file" id="JS_file_thumbnail" name="file_thumbnail" value="{{thumbnail}}" /><input type="button" value="上传" id="JS_btn_thumbnail" /><span id="JS_upload_error"></span><img src="" id="JS_img_thumbnail" onerror="this.style.display='none'" /></td>
                            </tr>
                            <tr>
                                <th>内容 :</th>
                                <td><textarea class="common-insert-textarea" name="content" id="JS_content" cols="80" rows="7">{{content}}</textarea></td>
                            </tr>
                            <tr>
                                <th>分类 :{{category}}</th>
                                <td>
                                    {{#each categoryall}}

                                        <label for="category{{id}}"><input type="radio" id="category{{id}}" name="category" value="{{id}}" {{ischecked}} />{{name}}</label>
                                    {{/each}}
                                </td>
                            </tr>
                            <tr>
                                <th>标签 :</th>
                                <td>
                                    {{#each tagall}}
                                        <label for="tag{{id}}"><input type="checkbox" name="tag" id="tag{{id}}" value="{{id}}" {{ischecked}}/>{{name}}</label>
                                    {{/each}}
                                </td>
                            </tr>
                            <tr>
                                <th>Title :</th>
                                <td><input type="text" id="JS_seoTitle" name="seo_title" value="{{seo_title}}" /></td>
                            </tr>
                            <tr>
                                <th>Keywords :</th>
                                <td><input type="text" id="JS_seoKeywords" name="seo_keywords" value="{{seo_keywords}}" /></td>
                            </tr>
                            <tr>
                                <th>Description :</th>
                                <td><input type="text" id="JS_seoDescription" name="seo_description" value="{{seo_description}}" /></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn" type="submit" id="JS_submit" value="保存"/>
                                    <a href="/admin/note.wcl" class="btn">取消</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="hidden" value="modify,{{id}}" name="params" id="JS_params"/>
                    {{/with}}
                    </script>
                </form>
                
            </div>
        </div>