<div class="wrap-header">
    <div class="pdleft12">
        <i class="iconclary">&#xe611;</i><a href="/admin/index.wcl">首页</a><span class="nav-step">&gt;</span><span>标签管理</span>
    </div>
</div>
<div class="wrap-category">
    <div class="main-left">
        <h3>标签目录</h3>
        <form active="{{tag}}" method="post">
            <div class="catagory-common">
                <span class="">名字</span>
                <input type="text" name="name" value="" id="JS_name" />
                <p>这将是它在站点上显示的名字。</p>
            </div>
            <div class="catagory-common">
                <span class="">别名</span>
                <input type="text" name="alias" value="" id="JS_alias" />
                <p>“别名”是在URL中使用的别称，它可以令URL更美观。通常使用小写，只能包含字母，数字和连字符（-）。</p>
            </div>
            <div class="catagory-common">
                <span class="">父级（标签不支持多层级）</span>
                <select name="pid" id="JS_pid" disabled style="background-color: #eee;">
                    <option value="" selected="selected">无</option>
                </select>
                <p>分类目录和标签不同，它可以有层级关系。您可以有一个“音乐”分类目录，在这个目录下可以有叫做“流行”和“古典”的子目录。</p>
            </div>
            <div class="catagory-common">
                <span class="">描述</span>
                <textarea name="description" id="JS_desc" cols="50" rows="4"></textarea>
                <p>分类目录和标签不同，它可以有层级关系。您可以有一个“音乐”分类目录，在这个目录下可以有叫做“流行”和“古典”的子目录。</p>
            </div>
            <div class="catagory-common">
                <input data-type="insert" class="search-submit btn insert-btn" type="submit" value="新增" id="JS_submit" />
            </div>
        </form>
    </div>
    <div class="main-right">
        <form active="{{tag}}" method="post">
            <table class="list-box" width="100%">
                <thead>
                    <tr>
                        <th width="3%">
                            <input type="checkbox" name="allcheckbox">
                        </th>
                        <th width="3%">排序</th>
                        <th width="14%">ID</th>
                        <th class="hidd" width="18%">PID</th>
                        <th width="10%">名字</th>
                        <th width="10%">描述</th>
                        <th width="10%">别名</th>
                        <th width="10%">操作</th>
                    </tr>
                </thead>
                <tbody id="JS_tbody">
                    <script type="unclay/tempalte" id="JS_tbody_tpl">
                        {{#each this}}
                        <tr>
                            <td class="input-ck textc">
                                <input type="checkbox" name="allcheckbox">
                            </td>
                            <td>
                                <input class="sort-input" type="text" name="serial" value="{{serial}}">
                            </td>
                            <td>
                                <input class="item-_id" type="text" name="_id" value="{{_id}}" disabled="disabled" />
                            </td>
                            <td class="hidd">
                                <input type="text" name="pid" value="{{pid}}" disabled="disabled" />
                            </td>
                            <td>
                                <input type="text" name="name" value="{{name}}" />
                            </td>
                            <td>
                                <input type="text" name="desc" value="{{desc}}" />
                            </td>
                            <td>
                                <input type="text" name="alias" value="{{alias}}" />
                            </td>
                            <td>
                                <input type="submit" value="更新" class="update-btn" />
                                <input type="submit" value="删除" class="del-btn" />
                                <input data-type="{{status}}" type="submit" value="{{getStatus status}}" class="abled-btn" />
                            </td>
                        </tr>
                        {{/each}}
                    </script>
                </tbody>
            </table>
            <div class="list-page hidd"> 2 条 1/1 页</div>
        </form>
    </div>
</div>
<script type="text/javascript">
seajs.use("${SOURCE}/admin/js/admin.js", function(admin) {
    window.onload = function() {
        admin.tag();
    }
});
</script>
