<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
    <title>网站历程</title>
    <meta name="keywords" content="unclay,博客,技术,历程,成长,见证,生命线," />
    <meta name="description" content="见证unclay博客的成长过程。" />

    {@head_end@}
</head>

<body>
	{@body_header@}
    <div class="history">
        <h2>架构图</h2>
        <img src="${SOURCE}/common/img/architecture.png" />
        <h2>日志</h2>
        <ul>
            <li>
                <p>正式发布，基础框架完成
                    <br/>End time: 2015-07-25</p>
            </li>
            <li>
                <p>引用juicer建立自己的模板引擎<a href="https://github.com/unclay/juicer-template" target="_blank">juicer-template</a>
                    <br/>End time: 2015-07-26</p>
            </li>
            <li>
                <p>新增首页和网站历程页，并搭建静态文件服务器
                    <br/>End time: 2015-07-26</p>
            </li>
            <li>
                <p>通过mongoose建立短链接模块</a>
                    <br/>End time: 2015-07-30</p>
            </li>
            <li>
                <p>引入body-parser
                    <br/>完成api.note的GET,POST,PUT接口
                    <br/>End time: 2015-08-10</p>
            </li>
            <li>
                <p>新增博客列表页的静态显示
                    <br/>End time: 2015-08-11</p>
            </li>
            <li>
                <p>使用模块引擎<a href="http://seajs.org/docs/" target="_blank">seajs</a>, 构建模块jquery, <a href="https://github.com/hammerjs/hammer.js" target="_blank">hammer</a>
                    <br/>End time: 2015-08-12</p>
            </li>
            <li>
                <p>重构后台首页
                    <br/>End time: 2015-08-12</p>
            </li>
            <li>
                <p>构建<a href="https://github.com/unclay/site-config" target="_blank">site-config</a>模块，并引入<a href="https://github.com/MoeKit/handlebarser" target="_blank">handlebars</a>模块
                    <br/>End time: 2015-08-13</p>
            </li>
            <li>
                <p>重构博文显示页，编辑页
                    <br/>End time: 2015-08-13</p>
            </li>
            <li>
                <p>重构博文新增页，并修正其列表页和编辑页
                    <br/>引入<a href="https://github.com/MoeKit/url" target="_blank">url</a>模块
                    <br/>End time: 2015-08-14</p>
            </li>
            <li>
                <p>重构标签模块
                    <br/>引入<a href="https://github.com/buunguyen/mongoose-deep-populate" target="_blank">mongoose-deep-populate</a>模块
                    <br/>End time: 2015-08-15</p>
            </li>
            <li>
                <p>图片上传接口，只支持thumbnail
                    <br/>完成博客的缩略图上传
                    <br/>End time: 2015-08-16</p>
            </li>
            <li>
                <p>整理图片，做成缩略图接口，便于管理
                    <br/>End time: 2015-08-17</p>
            </li>
            <li>
                <p>引入<a href="https://github.com/expressjs/session" target="_blank">express-session</a>, 使之支持session, session存于内存
                    <br/>目前是单用户，不考虑存于redis之类
                    <br/>End time: 2015-08-20</p>
            </li>
            <li>
                <p>新增登录页面
                    <br/>End time: 2015-08-21</p>
            </li>
            <li>
                <p>服务器搭建php，nginx，mongodb，redis
                    <br/>End time: 2015-09-04</p>
            </li>
            <li>
                <p>完成筆記頁和筆記詳細頁開發，完成session处理
                    <br/>End time: 2015-09-09</p>
            </li>
            <li>
                <p>完成文章分类页，可以开始写文章。
                    <br/>session写于mongodb
                    <br/>End time: 2015-09-13</p>
            </li>
        </ul>
    </div>
    {@body_footer@}
</body>

</html>
