<section class="power">
    <ul class="power-box">
        <li>
            <dl>
                <dt>HTML</dt>
                <dd>超文本标记语言（英文：HyperText Markup Language，HTML）
                    <br/>是为“网页创建和其它可在网页浏览器中看到的信息”设计的一种标记语言</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>CSS</dt>
                <dd>层叠样式表（英语：Cascading Style Sheets，简写CSS）
                    <br/>又称串样式列表、级联样式表、串接样式表、层叠样式表、階層式樣式表
                    <br/>一种用来为结构化文档（如HTML文档或XML应用）
                    <br/>添加样式（字体、间距和颜色等）的计算机语言</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>Javascript</dt>
                <dd>JavaScript，一种直译式脚本语言，是一种动态类型、基于原型的语言，内置支持类。
                    <br/>它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，
                    <br/>最早是在HTML网页上使用，用来给HTML网页增加动态功能。
                    <br/>然而现在JavaScript也可被用于网络服务器，如Node.js。</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>Node.js</dt>
                <dd>Node.js是一个事件驱动I/O服务端JavaScript环境，基于Google的V8引擎。</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>Gulp</dt>
                <dd>用自动化构建工具增强你的工作流程！
                    <br/>目前自己用于版本库上线、代码压缩合并、SASS等等。</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>jQuery</dt>
                <dd>jQuery是一套跨浏览器的JavaScript库，简化HTML与JavaScript之间的操作。</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>Sea.js</dt>
                <dd>提供简单、极致的模块化开发体验( A Module Loader for the Web )
                    <br/>Sea.js 是一个开源项目，目前由阿里、腾讯等公司共同维护。 </dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>spmjs</dt>
                <dd>致力于提供一个开放、通用、完善、集成化的基于浏览器模块生命周期的包管理工具
                    <br/>包括初始化、编码、本地化调试、文档生成、发布、
                    <br/>依赖管理、单元测试、构建、源服务等等功能。</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>REST</dt>
                <dd>表征性状态传输（英文：Representational State Transfer，简称REST）
                    <br/>REST是设计风格而不是标准。REST通常基于使用HTTP，URI
                    <br/>和XML以及HTML这些现有的广泛流行的协议和标准。</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>软件工程</dt>
                <dd>研究和应用如何以系统性的、规范化的、可定量的过程化方法去开发
                    <br/>和维护软件，以及如何把经过时间考验而证明正确的管理技术
                    <br/>和当前能够得到的最好的技术方法结合起来的学科
                    <br/>涉及到程序设计语言、数据库、软件开发工具、系统平台、标准、设计模式等方面</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>版本控制</dt>
                <dd>版本控制(Revision control)是一种软体工程技巧，籍以在开发的过程中，
                    <br/>确保由不同人所编辑的同一档案都得到更新。
                    <br/>版本控制软件提供完备的版本管理功能，用于存储、追踪目录（文件夹）
                    <br/>和文件的修改历史，是软件开发者的必备工具，是软件公司的基础设施。</dd>
            </dl>
        </li>
    </ul>
</section>
