<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <title>博客</title>
    <meta name="keywords" content="unclay,博客,技术,历程,成长,见证,生命线," />
    <meta name="description" content="见证unclay博客的成长过程。" />

    {@head_end@}
</head>

<body>
    {@body_header@}
    {@juicer_help@}

    <div class="wrap">
        <div class="container cls">
            
            <div class="note-wrap fl cls" id="JS_note">
                <h2 class="note-tag" id="JS_currentTag">${tagname}</h2>
                {@each list as it,k}
                    <ul class="every-year">
                        <li>
                            <h3>${it.year}年</h3>
                            <ul class="every-item">
                                {@each it.list as item,i}
                                    <li>
                                        <section>
                                            {@each item.tag as t,j}
                                                <a class="tag" href="${WWW}/note/tag/${t.name}">${t.name}</a>
                                            {@/each}
                                            <time>${item.createtime|getYMD, "y年m月d日"}</time>
                                            <a class="title" href="${WWW}/note/${item.seo_url}">${item.title}</a>
                                            <div class="content">${item.intro}</div>
                                        </section>
                                        
                                    </li>
                                {@/each}
                            </ul>
                        </li>
                    </ul>
                {@/each}
                <script type="unclay/template">
                    <div class="grid">
                        <a href="#" class="grid-img">
                            <img src="${SOURCE}/common/img/img27.jpg" />
                        </a>
                        <a href="#" class="grid-title">日落湖</a>
                        <p>和平日落景观......</p>
                        <div class="grid-meta">2013年6月6日</div>
                    </div>
                </script>
            </div>
            {@note_tag@}
        </div>
    </div>
    <script src="${SOURCE}/common/js/seajs.min.js"></script>
    
    <script type="text/javascript">
        // seajs.use("${SOURCE}/common/js/common_v1.js", function(admin) {
        //     // window.onload = function() {
        //     //     // admin.note();
        //     // }
        // });
    </script>
    {@body_footer@}
</body>

</html>
