<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <title>博客</title>
    <meta name="keywords" content="unclay,博客,技术,历程,成长,见证,生命线," />
    <meta name="description" content="见证unclay博客的成长过程。" />

    {@head_end@}
</head>

<body>
    {@body_header@}
    <div class="note">
        <div class="note-wrap cls" id="JS_note">
            <script type="unclay/template">
                <div class="grid">
                    <a href="#" class="grid-img">
                        <img src="${SOURCE}/common/img/img27.jpg" />
                    </a>
                    <a href="#" class="grid-title">日落湖</a>
                    <p>和平日落景观......</p>
                    <div class="grid-meta">2013年6月6日</div>
                </div>
            </script>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img27.jpg" />
                </a>
                <a href="#" class="grid-title">日落湖</a>
                <p>和平日落景观......</p>
                <div class="grid-meta">2013年6月6日</div>
            </div>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img26.jpg" />
                </a>
                <a href="#" class="grid-title">天国的桥梁</a>
                <p>桥在哪里？</p>
                <div class="grid-meta">by SigitEko</div>
            </div>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img15.jpg" />
                </a>
                <a href="#" class="grid-title">秋</a>
                <p>秋天的树...</p>
                <div class="grid-meta">by Lars van de Goor</div>
            </div>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img23.jpg" />
                </a>
                <a href="#" class="grid-title">冬季耳语</a>
                <p>冬天的感觉...</p>
                <div class="grid-meta">by Andrea Andrade</div>
            </div>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img17.jpg" />
                </a>
                <a href="#" class="grid-title">Light</a>
                <p>The only shinning light...</p>
                <div class="grid-meta">by Lars van de Goor</div>
            </div>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img22.jpg" />
                </a>
                <a href="#" class="grid-title">Rooster's Ranch</a>
                <p>Rooster's ranch landscape...</p>
                <div class="grid-meta">by Andrea Andrade</div>
            </div>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img16.jpg" />
                </a>
                <a href="#" class="grid-title">Autumn Light</a>
                <p>Sun shinning into forest...</p>
                <div class="grid-meta">by Lars van de Goor</div>
            </div>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img21.jpg" />
                </a>
                <a href="#" class="grid-title">Yellow cloudy</a>
                <p>It is yellow cloudy...</p>
                <div class="grid-meta">by Zsolt Zsigmond</div>
            </div>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img28.jpg" />
                </a>
                <a href="#" class="grid-title">Herringfleet Mill</a>
                <p>Just a herringfleet mill...</p>
                <div class="grid-meta">by Ian Flindt</div>
            </div>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img2.jpg" />
                </a>
                <a href="#" class="grid-title">Battle Field</a>
                <p>Battle Field for you...</p>
                <div class="grid-meta">by Andrea Andrade</div>
            </div>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img24.jpg" />
                </a>
                <a href="#" class="grid-title">Sundays Sunset</a>
                <p>Beach view sunset...</p>
                <div class="grid-meta">by Robert Strachan</div>
            </div>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img19.jpg" />
                </a>
                <a href="#" class="grid-title">Sun Flower</a>
                <p>Good Morning Sun flower...</p>
                <div class="grid-meta">by Zsolt Zsigmond</div>
            </div>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img5.jpg" />
                </a>
                <a href="#" class="grid-title">Beach</a>
                <p>Something on beach...</p>
                <div class="grid-meta">by unknown</div>
            </div>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img25.jpg" />
                </a>
                <a href="#" class="grid-title">Flowers</a>
                <p>Hello flowers...</p>
                <div class="grid-meta">by R A Stanley</div>
            </div>
            <div class="grid">
                <a href="#" class="grid-img">
                    <img src="${SOURCE}/common/img/img20.jpg" />
                </a>
                <a href="#" class="grid-title">Alone</a>
                <p>Lonely plant...</p>
                <div class="grid-meta">by Zsolt Zsigmond</div>
            </div>
        </div>
    </div>
    <script src="${SOURCE}/common/js/seajs.min.js"></script>
    
    <script type="text/javascript">
        seajs.use("${SOURCE}/common/js/common_v1.js", function(admin) {
            window.onload = function() {
                admin.note();
            }
        });
    </script>
    {@body_footer@}
</body>

</html>
